stuff.p4a.net {
    redir https://docs.google.com/spreadsheets/d/1gcVWAA13RrzpD1s4Mc1aGB2q1aobJHinR_LP7PVVoOU/edit?usp=sharing
}

mtg.p4a.net {
    redir https://deckbox.org/sets/3430075
}

chat.p4a.net {
    reverse_proxy localhost:3080
    header {
        Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; frame-ancestors 'self' p4a.net; frame-src 'self' https://*.codesandbox.io"
        
        X-Frame-Options "SAMEORIGIN"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        Permissions-Policy "geolocation=(), midi=(), sync-xhr=(), microphone=(), camera=(), magnetometer=(), gyroscope=(), fullscreen=(self), payment=()"
    }
}

stats.p4a.net {
    basicauth /* {
        blah invault
    }
    handle / {
        reverse_proxy localhost:8080 {
            uri strip_prefix /
            uri prefix /monitorix
        }
    }
    handle /monitorix/* {
        reverse_proxy localhost:8080
    }
}

tesla.p4a.net {
    basicauth /* {
        blah invault
    }

    handle /teslamate/* {
        reverse_proxy localhost:4000
    }

    handle /grafana/* {
        reverse_proxy localhost:3000
    }

    handle /dashboards/* {
        reverse_proxy localhost:3000
    }

    handle /d/* {
        reverse_proxy localhost:3000
    }

    handle / {
        reverse_proxy localhost:4000
    }
}
